html {
    background: blue;
}

body {
    background: white;
    padding: 25px 25px;
    border-radius: 25px;
    margin: 50px auto;
    width: 600px;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: maroon;
    color: white;
    border-radius: 5px;
}

img {
    border: grey;
}